@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* * {border: 1px solid #000;} */

html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    background-color: var(--Background);
    color: #000;
}

/* TOGGLE THEME */
.themeLight {
    --Background: #e6e6e6;
    --BackgroundSecondary: #c0c0c0;
    --BackgroundTertiary: #c0c0c0;
    --BackgroundQuaternary: #c0c0c0;
    --ColorHover: #ff9000;
    --FontColor: #000;
    --FontColorSecondary: #000;
}

.themeDark {
    --Background: #4b4b5e;
    --BackgroundSecondary: #c0c0c0;
    --BackgroundTertiary: #282835;
    --BackgroundQuaternary: #282835;
    --ColorHover: #99ddff;
    --FontColor: #fff;
    --FontColorSecondary: #000;
}

/* TOGGLE THEME */

/* HEADER */
/*
.headerContainer {
    background-color: var(--Background);
}
*/

/* SWITCH TO CHANGE THE THEME */
/*
.sliderContainer {
    background-color: var(--Background);;
}
*/

.slider {
    padding: 5px 10px;
    font-size: 19px;
}


.sliderInput[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.sliderLabel {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background-color: var(--BackgroundSecondary);
    float: right;
    border-radius: 90px;
    position: relative;
    border: 1px solid var(--BackgroundSecondary);
    transition: background-color 0.5s ease;
}

.sliderLabel:hover {
    background-color: var(--Background);
    border: 1px solid var(--ColorHover);
    ;
}

.sliderLabel::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 3px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 90px;
    transition: all 0.5s ease;
}

.sliderLabel:hover::after {
    background-color: var(--ColorHover);
}

.sliderInput:checked+.sliderLabel {
    background-color: var(--BackgroundSecondary);
}

.sliderInput:checked+.sliderLabel:hover {
    background-color: var(--Background);
    border: 1px solid var(--ColorHover);
    ;
}

.sliderInput:checked+.sliderLabel::after {
    left: calc(100% - 3px);
    transform: translateX(-100%);
}

.sliderLabel:active::after {
    width: 35px;
}

/* SWITCH TO CHANGE THE THEME */

/* ABOVE MENU */
.aboveMenu {
    display: flex;
    background-color: var(--BackgroundTertiary);
    position: relative;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.aboveMenu a {
    text-decoration: none;
    color: var(--FontColor);
    transition: background-color 0.5s ease;
    border-top: 2px solid var(--Background);
    border-bottom: 2px solid var(--Background);
    padding: 3px;
}

.aboveMenu a:hover {
    color: var(--ColorHover);
    border-top: 2px solid var(--ColorHover);
    border-bottom: 2px solid var(--ColorHover);
    background-color: var(--Background);
}

/* SOCIAL MEDIA */
.socialMedia {
    position: absolute;
    right: 10px;
}


/* SOCIAL MEDIA */

/* RESGISTER LOGIN */
.buttonRegisterLogin {
    float: left;
}

/* RESGISTER LOGIN */

/* ABOVE MENU */

/* MENU */
.menuContainer {
    background-color: var(--BackgroundTertiary);
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 5px;
}

.menuContainer a {
    margin-right: 2px;
    margin-left: 2px;
    text-decoration: none;
    font-size: 18px;
    border-top: 2px solid var(--Background);
    border-bottom: 2px solid var(--Background);
    color: var(--FontColor);
    padding: 5px;
    transition: background-color 0.5s ease;
}

.menuContainer a:hover {
    color: var(--ColorHover);
    background-color: var(--Background);
    border-top: 2px solid var(--ColorHover);
    border-bottom: 2px solid var(--ColorHover);
}

/* SUBMENU */
.subMenu {
    position: absolute;
    z-index: 1;
    left: 343px;
    top: 38px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.7);
    display: none;
}

.subMenu a {
    margin: 0;
    display: block;
    background-color: var(--BackgroundTertiary);
    border-top: 2px solid var(--BackgroundTertiary);
    border-bottom: 2px solid var(--Background);
}

.subMenu a:hover {
    border-top: 2px solid var(--ColorHover);
    border-bottom: 2px solid var(--ColorHover);

}

.showSubMenu {
    display: block;
}

/* SUBMENU */

/* MENU */

/* HEADER */

/* BANNER */
.slideShowContainer {
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
}

.slideShowSlides {
    display: none;
}

.slideShowSlides img {
    width: 100%;
}

.slideShowPrev,
.slideShowNext {
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    color: var(--FontColorSecondary);
    font-size: 30px;
    padding: 5px;
    margin-top: -25px;
    transition: background-color 0.5s ease;
}

.slideShowPrev {
    left: 0;
    border-radius: 0 5px 5px 0;
}

.slideShowNext {
    right: 0;
    border-radius: 5px 0 0 5px;
}

.slideShowPrev:hover,
.slideShowNext:hover {
    color: var(--ColorHover);
    background-color: rgba(0, 0, 0, 0.7);
}

.slideShowLegend {
    color: var(--ColorHover);
    font-size: 20px;
    position: absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.slideShowDotsContainer {
    /* background-color: #888; */
    margin-bottom: 5px;
}

.slideShowDots {
    background-color: var(--BackgroundSecondary);
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    /* margin: 5px 1px; */
    transition: background-color 0.5s ease;
}

.slideShowDots:hover {
    background-color: var(--ColorHover);
}

.slideShowActive {
    background-color: rgba(0, 0, 0, 0.7);
}

/* BANNER */

/* ANIMATION */
.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

/* ANIMATION */

/* MAIN PAGE */
.mainContainer {
    display: flex;
    flex: 1;
    /* justify-content: center; */
}

.sectionContainer {
    color: var(--FontColor);
    order: 2;
    flex: 7;
    /* background-color: var(--BackgroundTertiary); */
}

.sectionContainer article {
    margin-bottom: 5px;
    background-color: var(--BackgroundQuaternary);
}

.asideLeft {
    color: var(--FontColor);
    order: 1;
    flex: 1;
    text-align: left;
    border-left: 5px solid var(--Background);
}

.asideLeft a {
    display: block;
    color: var(--FontColor);
    text-decoration: none;
    transition: border 0.5s ease;
    border-top: 2px solid var(--BackgroundQuaternary);
    border-bottom: 2px solid var(--BackgroundQuaternary);
    padding-left: 5px;
}

.asideLeft a:hover {
    background-color: var(--Background);
    border-top: 2px solid var(--ColorHover);
    border-bottom: 2px solid var(--ColorHover);
}

.asideRight {
    color: var(--FontColor);
    order: 3;
    flex: 1;
    text-align: left;
    border-left: 5px solid var(--Background);
}

.asideRight a {
    display: block;
    color: var(--FontColor);
    text-decoration: none;
    transition: border 0.5s ease;
    border-top: 2px solid var(--BackgroundQuaternary);
    border-bottom: 2px solid var(--BackgroundQuaternary);
    padding-left: 5px;
}

.asideRight a:hover {
    background-color: var(--Background);
    border-top: 2px solid var(--ColorHover);
    border-bottom: 2px solid var(--ColorHover);
}


/* MAIN PAGE */

/* FOOTER */
.footerContainer {
    color: var(--FontColor);
    margin: 20px 0;
    /* margin-bottom: 10px; */
    padding: 5px 10px;
    background-color: var(--BackgroundQuaternary);
}

.socialMediaF {
    float: left;
}

.socialMediaF a {
    color: var(--FontColor);
}

.socialMediaF a:hover {
    color: var(--ColorHover);
}

.copyright:hover {
    cursor: copy;
    color: var(--ColorHover);
}

/* FOOTER */


/* 940 x 925 */