@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* * {border: 1px solid #000;} */

html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    background-color: #c8c8c8;
    color: #000;
}

/* TOGGLE THEME */
.themeLight {
    --bg: #9ba3aa;
    --bgColor: #d1d5de;
    --bgPainel: #104585;
    --bgPainelAcender: #0370a3;
    --colorSecondary: rgb(30, 35, 45);
    --colorAcender: rgba(70, 70, 90, 0.5);
    --fontColorAcender: rgb(245, 245, 245);
    --fontColor: #d2d2d2;
}

.themeDark {
    --bg: rgb(40, 40, 55, 0.9);
    --bgColor: rgb(40, 40, 55);
    --bgPainel: rgb(30, 35, 45);
    --bgPainelAcender: rgb(65, 75, 90);
    --colorSecondary: rgb(145, 160, 215);
    --colorAcender: rgb(155, 220, 255);
    --fontColorAcender: rgb(155, 220, 255);
    --fontColor: rgb(230, 230, 230);
}

/* TOGGLE THEME */

/* HEADER */
.headerContainer {
    /* padding: 20px; */
    background-color: #c8c8c8;
    /* display: flex; */
}

/* SWITCH TO CHANGE THE THEME */
.sliderContainer {
    background-color: #c8c8c8;
}

.slider {
    padding: 5px 10px;
    font-size: 19px;
}


.sliderInput[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.sliderLabel {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background-color: #b3b3b3;
    float: right;
    border-radius: 90px;
    position: relative;
    border: 1px solid #b3b3b3;
}

.sliderLabel:hover {
    background-color: #c8c8c8;
    border: 1px solid #b3b3b3;
}

.sliderLabel::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 3px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.sliderInput:checked+.sliderLabel {
    background-color: #999;
}

.sliderInput:checked+.sliderLabel:hover {
    background-color: #c8c8c8;
    border: 1px solid #b3b3b3;
}

.sliderInput:checked+.sliderLabel::after {
    left: calc(100% - 3px);
    transform: translateX(-100%);
}

.sliderLabel:active:after {
    width: 35px;
}

/* SWITCH TO CHANGE THE THEME */

/* ABOVE MENU */
.aboveMenu {
    display: flex;
    background-color: #b3b3b3;
    position: relative;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.aboveMenu a {
    color: #000;
    transition: background-color 0.5s ease;
    border-top: 2px solid #c8c8c8;
    border-bottom: 2px solid #c8c8c8;
    padding: 3px;
}

.aboveMenu a:hover {
    color: #fff;
    border-top: 2px solid #b3b3b3;
    border-bottom: 2px solid #b3b3b3;
    background-color: #c8c8c8;
}

/* SOCIAL MEDIA */
.socialMedia {
    position: absolute;
    right: 10px;
}


/* SOCIAL MEDIA */

/* RESGISTER LOGIN */
.buttonRegisterLogin {
    float: left;
}

/* RESGISTER LOGIN */

/* ABOVE MENU */

/* MENU */
.menuContainer {
    background-color: #b3b3b3;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 5px;
}

.menuContainer a {
    margin-right: 2px;
    margin-left: 2px;
    text-decoration: none;
    font-size: 18px;
    border-top: 2px solid #c8c8c8;
    border-bottom: 2px solid #c8c8c8;
    color: #000;
    transition: background-color 0.5s ease;
    padding: 5px;
}

.menuContainer a:hover {
    color: #fff;
    background-color: #c8c8c8;
    border-top: 2px solid #b3b3b3;
    border-bottom: 2px solid #b3b3b3;
}

/* SUBMENU */
.subMenu {
    position: absolute;
    z-index: 1;
    left: 352px;
    top: 26px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
    display: none;
}

.subMenu a {
    display: block;
    background-color: #b3b3b3;
    /* color: #000; */
}

.showSubMenu {
    display: block;
}

/* SUBMENU */

/* MENU */

/* HEADER */

/* BANNER */
.slideShowContainer {
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
}

.slideShowSlides {
    display: none;
}

.slideShowSlides img {
    width: 100%;
}

.slideShowPrev,
.slideShowNext {
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    color: #b3b3b3;
    font-size: 30px;
    padding: 5px;
    margin-top: -25px;
    transition: background-color 0.5s ease;
}

.slideShowPrev {
    left: 0;
    border-radius: 0 5px 5px 0;
}

.slideShowNext {
    right: 0;
    border-radius: 5px 0 0 5px;
}

.slideShowPrev:hover,
.slideShowNext:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
}

.slideShowLegend {
    color: #fff;
    font-size: 20px;
    position: absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.slideShowDotsContainer {
    /* background-color: #888; */
    margin-bottom: 5px;
}

.slideShowDots {
    background-color: #b3b3b3;
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    /* margin: 5px 1px; */
    transition: background-color 0.5s ease;
}

.slideShowDots:hover {
    background-color: #fff;
}

.slideShowActive {
    background-color: rgba(0, 0, 0, 0.7);
}

/* BANNER */

/* ANIMATION */
.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

/* ANIMATION */

/* MAIN PAGE */
.mainContainer {
    display: flex;
    flex: 1;
    /* justify-content: center; */
}

.sectionContainer {
    order: 2;
    flex: 7;
}

.sectionContainer article {
    margin-bottom: 5px;
    background-color: #b3b3b3;
}

.asideLeft {
    order: 1;
    flex: 1;
}

.asideRight {
    order: 3;
    flex: 1;
}

/* MAIN PAGE */

/* FOOTER */
.footerContainer {
    margin: 20px 0;
    /* margin-bottom: 10px; */
    padding: 5px 10px;
    background-color: #b3b3b3;
}

.footerContainer .socialMediaF {
    float: right;
}

.footerContainer .socialMediaF a {
    color: #000;
}

/* FOOTER */